nav {
	position: fixed;
	left: 10%;
	top: 10%;
}
#container {
	width: 960px;
	margin: auto;
	margin-bottom: 500px;
}
#container #manageUsers .manage-user {
	display: none;
}
#container #manageUsers .show-user {
	/*display: none;*/
}